.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-card {
  padding: 20px;
  width: 300px;
  text-align: center;
}

h2{
  text-transform: uppercase;
  letter-spacing: 2px;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.error-text {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.register-link {
  color: #1976d2;
  cursor: pointer;
  text-decoration: underline;
}
